.wrapper_header{
    display: flex;
    margin-bottom: 4vh;
    padding: 20px;
    color: #f0f8ff;
    flex-direction:row;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.wrapper_header .page-title img{
    width: auto;
    height: 10vh;
}

.wrapper_header .page-title{
    width: 100%;
    color: var(--light-text);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;


}

/* wrapper */
.wrapper{
    width: 100%; /* Adjust width to account for sidebar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.wrapper-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}